@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Merienda+One&display=swap');

$mainColor: #1A7F72;
$textColor: #000000;
$bodyTextColor: rgba(0, 0, 0, 0.5);
$subtitleColor: rgba(0, 0, 0, 0.8);
$buttonBg: linear-gradient(180deg, #259385 0%, #159685 100%);
$buttonShadow: 0px 13px 28px rgba(26, 127, 114, 0.2);;
$maxWidth: 1680;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
	);
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

body {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $textColor;
    background-color: #ddf4ef;
}

.container {
    max-width: 1480px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Merienda One', cursive;
    @include adaptiv-font(54, 34);
    line-height: 130%;
    color: $textColor;
}

.sub-title {
    font-weight: 500;
    font-size: 32px;
    color: $subtitleColor
}

.button {
    display: inline-block;
    background: $buttonBg;
    box-shadow: $buttonShadow;
    @include adaptiv-font(24, 14);
    border-radius: 30px;
    padding: 12px 44px;
    color: #fff;
    border: 1px solid  transparent;
    transition: all 0.3s ease;
}

.button:hover,
.button:focus,
.button:active {
    border: 1px solid #fff;
}

.header {
    overflow-x: auto;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
    }
    overflow-y: hidden;
    background-color: #fff;
    padding: 10px 0 0 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        max-width: 87px;
        img {
            width: 100%;
        }
    }

    .menu {
        &__list {
            display: flex;
            gap: 30px;
        }
        &__item {
            min-width: 86px;
        }
        &__link {
            display: block;
            position: relative;
            padding: 10px;
            @include adaptiv-font(18, 14);
            line-height: 120%;
            color: inherit;
            transition: all 0.3s ease;
            &:hover, &:focus {
                color: $mainColor;
                transform: scale(1.2);
            }
        }
    }
}

@media(max-width: 767px) {
    .header { 
        padding-top: 60px;
        &__container {
            flex-direction: column;
        }
        &__logo {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            z-index: 99;
            max-width: 58px;
        }
        .menu {
            width: 100%;
            align-self: center;
            &__list {
                gap: 20px;
            }
            &__link {
                display: block;
                position: relative;
                padding: 10px;
            }
        }
    }
}

.intro {
    padding: 70px 0;
    background: url(../images/intro-bg.svg) bottom  no-repeat;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        max-width: 758px;
        font-family: 'Merienda One', cursive;
        @include adaptiv-font(64, 34);
        line-height: 130%;
        color: #fff;
        text-align: center;
        margin-bottom: 22px;
    }
    &__text {
        max-width: 1000px;
        color: $bodyTextColor;
        @include adaptiv-font(20, 16);
        text-align: center;
        margin-bottom: 40px;
    }
    &__button {
        padding: 18px 69px;
        font-weight: 700;
        @include adaptiv-font(30, 18);
        line-height: 130%;
        border-radius: 50px;
        margin-bottom: 70px;
    }
    &__img {
        margin-bottom: -62px;
        max-width: 591px;
        img {
            width: 100%;
        }
    }
}

.services {
    padding: 120px 0 45px;
    &__container {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 60px;
    }
    .service {
        box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);
        position: relative;
        background-color: #fff;
        width: 420px;
        border-radius: 20px 20px 0 0;
        padding: 50px 48px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            max-width: 100px;
            margin-bottom: 20px;
        }
    
        &__title {
            font-weight: 500;
            @include adaptiv-font(32, 20);
            line-height: 110%;
            margin-bottom: 20px;
        }
    
        &__text {
            @include adaptiv-font(18, 16);
            line-height: 130%;
            text-align: center;
            margin-bottom: 60px;
        }
        &::after {
            content: url(../images/wave-2.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
        &:first-child::after {
            content: url(../images/wave-1.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
        &:last-child::after {
            content: url(../images/wave-3.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
    }
}

@media(max-width: 1199px) {
    .services { 
        &__container {
            flex-wrap: wrap;
        }
        .service {
            width: 40%;
            padding: 30px 18px;
            margin-bottom: 80px;
        }
    }

}


@media(max-width: 767px) {
    .services { 
        .service {
            width: 80%;
            margin-bottom: 100px;
        }
    }
}

@media(max-width: 600px) {
    .services { 
        .service {
            width: 100%;
        }
    }
}

@media(max-width: 480px) {
    .services { 
        .service {
            margin-bottom: 60px;
        }
    }
}

@media(max-width: 320px) {
    .services { 
        .service {
            margin-bottom: 30px;
        }
    }
}
