@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Merienda+One&display=swap');

$mainColor: #1A7F72;
$textColor: #000000;
$bodyTextColor: rgba(0, 0, 0, 0.5);
$subtitleColor: rgba(0, 0, 0, 0.8);
$buttonBg: linear-gradient(180deg, #259385 0%, #159685 100%);
$buttonShadow: 0px 13px 28px rgba(26, 127, 114, 0.2);;
$maxWidth: 1680;

@mixin adaptiv-font($pcSize, $mobSize) {
	$addSize: $pcSize - $mobSize;
	$maxWidth: $maxWidth - 320;
	font-size: calc(
		#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
	);
}

*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a,
a:visited {
	text-decoration: none;
}

ul li {
	list-style: none;
}

body {
	font-family: 'Heebo', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: $textColor;
    background-color: #ddf4ef;
}

.container {
    max-width: 1480px;
    padding: 0 15px;
    margin: 0 auto;
}

.title {
    font-family: 'Merienda One', cursive;
    @include adaptiv-font(54, 22);
    line-height: 130%;
    color: $textColor;
    text-align: center;
}

.sub-title {
    font-weight: 500;
    @include adaptiv-font(20, 16);
    color: $subtitleColor;
}

.button {
    display: inline-block;
    background: $buttonBg;
    box-shadow: $buttonShadow;
    @include adaptiv-font(24, 14);
    border-radius: 30px;
    padding: 12px 44px;
    color: #fff;
    border: 1px solid  transparent;
    transition: all 0.3s ease;
}

.button:hover,
.button:focus,
.button:active {
    border: 1px solid #fff;
}

.header {
    overflow-x: auto;
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0;
        height: 0;
        display: none;
    }
    overflow-y: hidden;
    background-color: #fff;
    padding: 10px 0 0 0;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__logo {
        max-width: 87px;
        img {
            width: 100%;
        }
    }

    .menu {
        &__list {
            display: flex;
            gap: 30px;
        }
        &__item {
            min-width: 86px;
        }
        &__link {
            display: block;
            position: relative;
            padding: 10px;
            @include adaptiv-font(18, 14);
            line-height: 120%;
            color: inherit;
            transition: all 0.3s ease;
            &:hover, &:focus {
                color: $mainColor;
                transform: scale(1.2);
            }
        }
    }
}

@media(max-width: 767px) {
    .header { 
        padding-top: 60px;
        &__container {
            flex-direction: column;
        }
        &__logo {
            position: absolute;
            top: 10px;
            left: 50%;
            transform: translate(-50%);
            z-index: 99;
            max-width: 58px;
        }
        .menu {
            width: 100%;
            align-self: center;
            &__list {
                gap: 20px;
            }
            &__link {
                display: block;
                position: relative;
                padding: 10px;
            }
        }
    }
}

.intro {
    padding: 70px 0;
    background: url(../images/intro-bg.svg) bottom  no-repeat;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        max-width: 758px;
        font-family: 'Merienda One', cursive;
        @include adaptiv-font(64, 34);
        line-height: 130%;
        color: #fff;
        text-align: center;
        margin-bottom: 22px;
    }
    &__text {
        max-width: 1000px;
        color: $bodyTextColor;
        @include adaptiv-font(20, 16);
        text-align: center;
        margin-bottom: 40px;
    }
    &__button {
        padding: 18px 69px;
        font-weight: 700;
        @include adaptiv-font(30, 18);
        line-height: 130%;
        border-radius: 50px;
        margin-bottom: 70px;
    }
    &__img {
        margin-bottom: -62px;
        max-width: 591px;
        img {
            width: 100%;
        }
    }
}

.services {
    padding: 100px 0;
    &__container {
        display: flex;
        align-items: start;
        justify-content: center;
        gap: 60px;
    }
    .service {
        box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);
        position: relative;
        background-color: #fff;
        width: 420px;
        border-radius: 20px 20px 0 0;
        padding: 50px 48px 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__logo {
            max-width: 100px;
            margin-bottom: 20px;
        }
    
        &__title {
            font-weight: 500;
            @include adaptiv-font(32, 20);
            line-height: 110%;
            margin-bottom: 20px;
        }
    
        &__text {
            @include adaptiv-font(18, 15);
            line-height: 130%;
            text-align: center;
            margin-bottom: 60px;
        }
        &::after {
            content: url(../images/wave-2.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
        &:first-child::after {
            content: url(../images/wave-1.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
        &:last-child::after {
            content: url(../images/wave-3.svg);
            position: absolute;
            display: block;
            width: 100%;
            height: 20px;
            bottom: -20px;
            left: 0;
        }
    }
}

@media(max-width: 1199px) {
    .services {
        padding: 100px 0 40px;
        &__container {
            flex-wrap: wrap;
        }
        .service {
            width: 40%;
            padding: 30px 18px;
            margin-bottom: 80px;
        }
    }

}


@media(max-width: 767px) {
    .services { 
        .service {
            width: 80%;
            margin-bottom: 100px;
        }
    }
}

@media(max-width: 600px) {
    .services { 
        padding: 100px 0 30px;
        .service {
            width: 100%;
        }
    }
}

@media(max-width: 480px) {
    .services { 
        .service {
            margin-bottom: 60px;
        }
    }
}

@media(max-width: 320px) {
    .services { 
        .service {
            margin-bottom: 30px;
        }
    }
}

.practice {
    padding: 77px 0 61px;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        max-width: 706px;
        margin-bottom: 22px;
    }
    &__text {
        max-width: 1105px;
        @include adaptiv-font(22, 14);
        text-align: center;
        color: $bodyTextColor;
        margin-bottom: 70px;
    }
    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img {
        max-width: 680px;
        img {
            width: 100%;
        }
    }
    &__item {
        position: relative;
        max-width: 600px;
        padding: 20px 38px 40px 20px;
        border-radius: 16px;
        transition: all 0.3s ease;
        cursor: pointer;
        &.active {
            background: #fff;
            cursor: default;
            box-shadow: 0px 8px 50px rgba(26, 127, 114, 0.2);
        }
        &_title {
            margin-bottom: 10px;
        }

        &_text {
            @include adaptiv-font(18, 14);
            color: $bodyTextColor;
            line-height: 130%;
        }

        &_link {
            position: absolute;
            width: 50px;
            bottom: 8px;
            right: 23px;
            opacity: 0;
            transition: all 0.3s ease;
            img {
                width: 100%;
            }
            &.active {
                opacity: 1;
            }
        }
    }
}

@media(max-width: 991px) {
    .practice {
        &__body {
            flex-direction: column-reverse;
            gap: 30px;
        }
     }
}

@media(max-width: 767px) {
    .practice {
        padding: 77px 0 21px;
    }
}

@media(max-width: 480px) {
    .practice {
        &__text {
            margin-bottom: 40px;
        }
     }
}

.music {
    padding: 59px 0;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            display: block;
            background: url(../images/decor-2.svg) no-repeat;
            top: 0;
            left: 0px;
            width: 140px;
            height: 185px;
        }
    }
    &__title {
        margin-bottom: 22px;
    }
    &__text {
        max-width: 1105px;
        @include adaptiv-font(22, 14);
        text-align: center;
        color: $bodyTextColor;
        margin-bottom: 10px;
    }
    &__body {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__wrapper {
        width: 550px;
    }

    &__item {
        padding: 25px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: 
            linear-gradient(to right, transparent, #ddf4ef) padding-box,
            linear-gradient(to right, rgba(#1E9787, 0.5), rgba(#1E9787, 0.2)) border-box;
        border-radius: 10px;
        border: 1px solid transparent;
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        &_info-title {
            @include adaptiv-font(20, 14);
            margin-bottom: 10px;
        }
        &_info-performer {
            @include adaptiv-font(18, 12);
            color: $bodyTextColor;
        }
        &_play {
            cursor: pointer;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background: $buttonBg;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
                width: 20px;
            }
        }
    }

    &__img {
        max-width: 740px;
        img {
            width: 100%;
        }
    }
}

@media(max-width: 991px) {
    .music {
        &__text { 
            margin-bottom: 50px;
        }
        &__body {
            flex-direction: column;
        }
        &__img {
            display: none;
        }
     }
}

@media(max-width: 630px) {
    .music {
        &__wrapper {
            width: 100%;
        }
    }
}

@media(max-width: 400px) {
    .music {
        &__item {
            padding: 15px 20px;
            &:not(:last-child) {
                margin-bottom: 20px;
            }
            &_info-title {
                margin-bottom: 5px;
            }
            &_play {
                width: 40px;
                height: 40px;
                img {
                    width: 14px;
                }
            }
        }
    }
}

.meditation {
    padding: 154px 0;
    background: url(../images/meditation-bg.svg) top  no-repeat;
    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        margin-bottom: 22px;
    }

    &__text {
        max-width: 1105px;
        @include adaptiv-font(22, 14);
        text-align: center;
        color: $bodyTextColor;
        margin-bottom: 69px;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 74px;
    }

    &__col {
        max-width: 597px;
    }

    &__item {
        padding: 25px 35px;
        border-radius: 10px;
        border: 1px solid #378377;
        background: linear-gradient(to left, #C3EEE8 0%, rgba(#E7F3F2, 0.4) 100%);
        text-align: right;
        &:not(:last-child) {
            margin-bottom: 40px;
        }
        &_title {
            margin-bottom: 10px;
        }
        &_text {
            @include adaptiv-font(18, 14);
            color: $bodyTextColor;
            line-height: 130%;
        }
        &.right {
            background: linear-gradient(to right, #C3EEE8 0%, rgba(#E7F3F2, 0.4) 100%);
            text-align: left;
        }
    }
}

@media(max-width: 1199px) {
    .meditation {      
        &__img {
            max-width: 200px;
            img {
                width: 100%;
            }
         } 
    }
}

@media(max-width: 991px) {
    .meditation {      
        &__wrapper {
            flex-direction: column;
            gap: 40px;
        }
        &__item { 
            background: linear-gradient(to right, #C3EEE8 0%, rgba(#E7F3F2, 0.4) 100%);
            text-align: left;
        }
        &__img {
            display: none;
         } 
    }
}

@media(max-width: 767px) {
    .meditation {
        &__wrapper {
            gap: 20px;
        }      
        &__item {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
    }
}

@media(max-width: 480px) {
    .meditation { 
        &__item {
            padding: 15px;
        }
    }
}