@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&family=Merienda+One&display=swap");
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a,
a:visited {
  text-decoration: none; }

ul li {
  list-style: none; }

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  background-color: #ddf4ef; }

.container {
  max-width: 1480px;
  padding: 0 15px;
  margin: 0 auto; }

.title {
  font-family: 'Merienda One', cursive;
  font-size: calc( 22px + 32 * ((100vw - 320px) / 1360) );
  line-height: 130%;
  color: #000000;
  text-align: center; }

.sub-title {
  font-weight: 500;
  font-size: calc( 16px + 4 * ((100vw - 320px) / 1360) );
  color: rgba(0, 0, 0, 0.8); }

.button {
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#259385), to(#159685));
  background: linear-gradient(180deg, #259385 0%, #159685 100%);
  -webkit-box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
          box-shadow: 0px 13px 28px rgba(26, 127, 114, 0.2);
  font-size: calc( 14px + 10 * ((100vw - 320px) / 1360) );
  border-radius: 30px;
  padding: 12px 44px;
  color: #fff;
  border: 1px solid  transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.button:hover,
.button:focus,
.button:active {
  border: 1px solid #fff; }

.header {
  overflow-x: auto;
  overflow-y: hidden;
  background-color: #fff;
  padding: 10px 0 0 0; }
  .header::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    display: none; }
  .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .header__logo {
    max-width: 87px; }
    .header__logo img {
      width: 100%; }
  .header .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px; }
  .header .menu__item {
    min-width: 86px; }
  .header .menu__link {
    display: block;
    position: relative;
    padding: 10px;
    font-size: calc( 14px + 4 * ((100vw - 320px) / 1360) );
    line-height: 120%;
    color: inherit;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .header .menu__link:hover, .header .menu__link:focus {
      color: #1A7F72;
      -webkit-transform: scale(1.2);
              transform: scale(1.2); }

@media (max-width: 767px) {
  .header {
    padding-top: 60px; }
    .header__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .header__logo {
      position: absolute;
      top: 10px;
      left: 50%;
      -webkit-transform: translate(-50%);
              transform: translate(-50%);
      z-index: 99;
      max-width: 58px; }
    .header .menu {
      width: 100%;
      -ms-flex-item-align: center;
          align-self: center; }
      .header .menu__list {
        gap: 20px; }
      .header .menu__link {
        display: block;
        position: relative;
        padding: 10px; } }
.intro {
  padding: 70px 0;
  background: url(../images/intro-bg.svg) bottom no-repeat; }
  .intro__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .intro__title {
    max-width: 758px;
    font-family: 'Merienda One', cursive;
    font-size: calc( 34px + 30 * ((100vw - 320px) / 1360) );
    line-height: 130%;
    color: #fff;
    text-align: center;
    margin-bottom: 22px; }
  .intro__text {
    max-width: 1000px;
    color: rgba(0, 0, 0, 0.5);
    font-size: calc( 16px + 4 * ((100vw - 320px) / 1360) );
    text-align: center;
    margin-bottom: 40px; }
  .intro__button {
    padding: 18px 69px;
    font-weight: 700;
    font-size: calc( 18px + 12 * ((100vw - 320px) / 1360) );
    line-height: 130%;
    border-radius: 50px;
    margin-bottom: 70px; }
  .intro__img {
    margin-bottom: -62px;
    max-width: 591px; }
    .intro__img img {
      width: 100%; }

.services {
  padding: 100px 0; }
  .services__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 60px; }
  .services .service {
    -webkit-box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);
            box-shadow: 0px 19px 50px rgba(26, 127, 114, 0.15);
    position: relative;
    background-color: #fff;
    width: 420px;
    border-radius: 20px 20px 0 0;
    padding: 50px 48px 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .services .service__logo {
      max-width: 100px;
      margin-bottom: 20px; }
    .services .service__title {
      font-weight: 500;
      font-size: calc( 20px + 12 * ((100vw - 320px) / 1360) );
      line-height: 110%;
      margin-bottom: 20px; }
    .services .service__text {
      font-size: calc( 15px + 3 * ((100vw - 320px) / 1360) );
      line-height: 130%;
      text-align: center;
      margin-bottom: 60px; }
    .services .service::after {
      content: url(../images/wave-2.svg);
      position: absolute;
      display: block;
      width: 100%;
      height: 20px;
      bottom: -20px;
      left: 0; }
    .services .service:first-child::after {
      content: url(../images/wave-1.svg);
      position: absolute;
      display: block;
      width: 100%;
      height: 20px;
      bottom: -20px;
      left: 0; }
    .services .service:last-child::after {
      content: url(../images/wave-3.svg);
      position: absolute;
      display: block;
      width: 100%;
      height: 20px;
      bottom: -20px;
      left: 0; }

@media (max-width: 1199px) {
  .services {
    padding: 100px 0 40px; }
    .services__container {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .services .service {
      width: 40%;
      padding: 30px 18px;
      margin-bottom: 80px; } }
@media (max-width: 767px) {
  .services .service {
    width: 80%;
    margin-bottom: 100px; } }
@media (max-width: 600px) {
  .services {
    padding: 100px 0 30px; }
    .services .service {
      width: 100%; } }
@media (max-width: 480px) {
  .services .service {
    margin-bottom: 60px; } }
@media (max-width: 320px) {
  .services .service {
    margin-bottom: 30px; } }
.practice {
  padding: 77px 0 61px; }
  .practice__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .practice__title {
    max-width: 706px;
    margin-bottom: 22px; }
  .practice__text {
    max-width: 1105px;
    font-size: calc( 14px + 8 * ((100vw - 320px) / 1360) );
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 70px; }
  .practice__body {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .practice__img {
    max-width: 680px; }
    .practice__img img {
      width: 100%; }
  .practice__item {
    position: relative;
    max-width: 600px;
    padding: 20px 38px 40px 20px;
    border-radius: 16px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    cursor: pointer; }
    .practice__item.active {
      background: #fff;
      cursor: default;
      -webkit-box-shadow: 0px 8px 50px rgba(26, 127, 114, 0.2);
              box-shadow: 0px 8px 50px rgba(26, 127, 114, 0.2); }
    .practice__item_title {
      margin-bottom: 10px; }
    .practice__item_text {
      font-size: calc( 14px + 4 * ((100vw - 320px) / 1360) );
      color: rgba(0, 0, 0, 0.5);
      line-height: 130%; }
    .practice__item_link {
      position: absolute;
      width: 50px;
      bottom: 8px;
      right: 23px;
      opacity: 0;
      -webkit-transition: all 0.3s ease;
      transition: all 0.3s ease; }
      .practice__item_link img {
        width: 100%; }
      .practice__item_link.active {
        opacity: 1; }

@media (max-width: 991px) {
  .practice__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 30px; } }
@media (max-width: 480px) {
  .practice__text {
    margin-bottom: 40px; } }

/*# sourceMappingURL=style.css.map */